<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="./logo2.png?v=1" type="image/x-icon">
    <link rel="stylesheet" href="/css/pagestyle.css">
</head>
<body>
  <nav id="navbar">
    <span class="logo">
    <img class="lg" src="/img_data/logo3.jpg" height="40" width="40" alt="Logo"/>
    <p class="lg">Cinematic Vision</p>
    </span>
    <div class="loca">
        <p class="text"><a href="/">Home</a></p>
        <p class="text"><a href="/category">Category</a></p>
        <p class="text"><a href="/about">About us</a></p>
        <p class="text"><a href="/cart">Cart</a></p>
        <p class="text"><a href="/user"><img src="/img_data/user.PNG" height="25px" width="25px"></a></p>
        <% if(found ==0){ %>
            <div class="text"><a href="/login"><button>Login</button></a></div>
       <% }else{ %>
            <div class="text"><a href="/logout"><button>Logout</button></a></div>
       <% } %>      
    </div>
</nav>
    <div class="main-camera">
        <div class="heading"><span id="cme">Camera</span></div>
        <div class="cards">
            <div class="card">
                <div class="img-card"><img src="/img_data/Red_helium1.jpg" height="160px" width="230px"></div> 
                    <div class="card-text">
                        <span class="title">Red Helium</span>
                     <span>Price:32L / Rent:16.5k</span>
                     <span>Description- The RED HELIUM 8K S35 is a professional digital cinema camera featuring an 8K Super... </span>
                     </div>
                 <div class="rent">
                     <a href="/page1#1" class="read-more-btn"><button>Read More</button></a>
                 </div>
         </div>
         <div class="card">
            <div class="img-card"><img src="/img_data/red_dragon5.jpg" height="160px" width="230px"></div> 
                <div class="card-text">
                    <span class="title">Red Dragon</span>
                 <span>Price:21L / Rent:13.5k</span>
                 <span>Description- The RED DRAGON 6K is a professional digital cinema camera featuring a 6K Super 35mm...</span>
                 </div>
                 <div class="rent">
                    <a href="/page1#2" class="read-more-btn"><button>Read More</button></a>
                </div>
     </div>
     <div class="card">
        <div class="img-card"><img src="/img_data/red_rapter.jpeg" height="160px" width="230px"></div> 
            <div class="card-text">
                <span class="title">Red Raptor</span>
             <span>Price:35L / Rent:21.5k</span>
             <span>Description- The RED V-RAPTOR is one of RED Digital Cinema's most advanced cameras, featuring an 8K... </span>
             </div>
             <div class="rent">
                <a href="/page1#3" class="read-more-btn"><button>Read More</button></a>
            </div>
 </div>
     <div class="card">
        <div class="img-card"><img src="/img_data/venice2.jpg" height="160px" width="230px"></div> 
            <div class="card-text">
                <span class="title">Venice Camera</span>
             <span>Price:22L / Rent:20.5k</span>
             <span>Description- The Sony VENICE is a high-end full-frame digital cinema camera from Sony’s CineAlta series...</span>
             </div>
             <div class="rent">
                <a href="/page1#4" class="read-more-btn"><button>Read More</button></a>
            </div>
 </div>
 
        </div>
    </div>

    <!-- lenses -->
    <div class="main-lens">
        <div class="heading"><span id="len">Lenses</span></div>
        <div class="cards">
            <div class="card">
                <div class="img-card"><img src="/img_data/sigma_prime_lens1.jpg" height="160px" width="230px"></div> 
                    <div class="card-text">
                        <span class="title">Sigma Prime Lens(9 lenses)</span>
                     <span>Price:21L / Rent:6.5k</span>
                     <span>Description- Sigma prime lenses are known for their superior image quality, precision engineering, and exceptional performance... </span>
                     </div>
                     <div class="rent">
                        <a href="/page1#5" class="read-more-btn"><button>Read More</button></a>
                    </div>
         </div>
         <div class="card">
            <div class="img-card"><img src="/img_data/ultra_prime_lens2.jpg" height="160px" width="230px"></div> 
                <div class="card-text">
                    <span class="title">Ultra Prime Lenses(8 lenses)</span>
                 <span>Price:7L / Rent:4k</span>
                 <span>Description- Ultra Prime lenses deliver exceptional image quality, cinematic depth, and precise control, making them the...</span>
                 </div>
                 <div class="rent">
                    <a href="/page1#6" class="read-more-btn"><button>Read More</button></a>
                </div>
     </div>
     <div class="card">
        <div class="img-card"><img src="/img_data/suprime_prime_lens.jpg" height="160px" width="230px"></div> 
            <div class="card-text">
                <span class="title">Supreme Prime Lenses(5 lenses)</span>
             <span>Price:35L / Rent:9k</span>
             <span>Description- The Supreme Prime lenses offer exceptional quality and performance, designed for cinematic filmmakers seeking the highest... </span>
             </div>
             <div class="rent">
                <a href="/page1#7" class="read-more-btn"><button>Read More</button></a>
            </div>
 </div>
     <div class="card">
        <div class="img-card"><img src="/img_data/Sony_18-105mm_lens.jpg" height="160px" width="230px"></div> 
            <div class="card-text">
                <span class="title">Sony 18-105mm lens</span>
             <span>Price:34k / Rent:2k</span>
             <span>Description- The Sony 18-105mm f/4 OSS PZ lens is a versatile zoom lens designed for Sony's E-mount... </span>
             </div>
             <div class="rent">
                <a href="/page1#8" class="read-more-btn"><button>Read More</button></a>
            </div>
 </div>
 
 <div class="card">
    <div class="img-card"><img src="/img_data/Sony_Fe_70-200mm_lens_1.jpg" height="160px" width="230px"></div> 
        <div class="card-text">
            <span class="title">Sony Fe 70-200mm</span>
         <span>Price:1.5L / Rent:4k</span>
         <span>Description- The Sony FE 70-200mm f/2.8 GM OSS lens is a high-performance telephoto zoom for Sony's full-frame... </span>
         </div>
         <div class="rent">
            <a href="/page1#9 class="read-more-btn"><button>Read More</button></a>
        </div>
</div>
<div class="card">
    <div class="img-card"><img src="/img_data/Sony_Fe_24-70mm_lens.jpg" height="160px" width="230px"></div> 
        <div class="card-text">
            <span class="title">Sony Fe 24-70mm</span>
         <span>Price:1.65L / Rent:2k</span>
         <span>Description- The Sony FE 24-70mm f/2.8 GM OSS lens is a versatile standard zoom lens designed for... </span>
         </div>
         <div class="rent">
            <a href="/page1#10" class="read-more-btn"><button>Read More</button></a>
        </div>
</div>
<div class="card">
    <div class="img-card"><img src="/img_data/Sony_Fe_85mm_lens.jpg" height="160px" width="230px"></div> 
        <div class="card-text">
            <span class="title">Sony Fe 85mm</span>
         <span>Price:1.53L / Rent:2.5k</span>
         <span>Description- The Sony FE 85mm f/1.4 GM lens is a premium portrait lens designed for Sony’s full-frame mirrorless... </span>
         </div>
         <div class="rent">
            <a href="/page1#11" class="read-more-btn"><button>Read More</button></a>
        </div>
</div>
        </div>
    </div>

    <!-- Accessories -->

    <div class="main-acce">
        <div class="heading"><span id="ac">Accessories</span></div>
        <div class="cards">
            <div class="card">
              <div class="img-card"><img src="/img_data/shougun.jpeg" height="160px" width="230px"></div> 
              <div class="card-text">
                  <span class="title">Shougun</span>
               <span>Price:4.30L / Rent:2.5k</span>
                     <span>Description- The Atomos Shogun series is a line of external video recorders and monitors that enhance... </span>
                     </div>
                     <div class="rent">
                        <a href="/page1#12" class="read-more-btn"><button>Read More</button></a>
                    </div>
         </div>
         <div class="card">
          <div class="img-card"><img src="/img_data/c_motion.jpeg" height="160px" width="230px"></div> 
          <div class="card-text">
              <span class="title">cMotion</span>
           <span>Price:4.90L / Rent:2k</span>
                 <span>Description- cMotion is an Austrian company specializing in wireless lens control systems for professional film and... </span>
                 </div>
                 <div class="rent">
                    <a href="/page1#13" class="read-more-btn"><button>Read More</button></a>
                </div>
     </div>
     <div class="card">
      <div class="img-card"><img src="/img_data/teradek2.jpg" height="160px" width="230px"></div> 
      <div class="card-text">
          <span class="title">Teradek</span>
       <span>Price:2.70L / Rent:1.2k</span>
             <span>Description- Teradek is a leading company that specializes in wireless video transmission, monitoring, and camera control systems... </span>
             </div>
             <div class="rent">
                <a href="/page1#14" class="read-more-btn"><button>Read More</button></a>
            </div>
 </div>
     <div class="card">
      <div class="img-card"><img src="/img_data/easy_rig_1.jpg" height="160px" width="230px"></div> 
      <div class="card-text">
          <span class="title">Eazy Rig</span>
       <span>Price:5L / Rent:3.5k</span>
             <span>Description- Easyrig is a camera support system that reduces strain by distributing the camera's weight from the... </span>
             </div>
             <div class="rent">
                <a href="/page1#15" class="read-more-btn"><button>Read More</button></a>
            </div>
 </div>
 
 <div class="card">
  <div class="img-card"><img src="/img_data/lapel.jpg" height="160px" width="230px"></div> 
  <div class="card-text">
      <span class="title">Sound 4 lapel</span>
   <span>Price:3L / Rent:3k</span>
         <span>Description- Lapel Microphones (Lavalier Microphones) are compact, clip-on mics designed for hands-free use, commonly used in...</span>
         </div>
         <div class="rent">
            <a href="/page1#16" class="read-more-btn"><button>Read More</button></a>
        </div>
</div>
<div class="card">
  <div class="img-card"><img src="/img_data/zoom_recorder2.jpg" height="160px" width="230px"></div> 
  <div class="card-text">
      <span class="title">Zoom Recorder</span>
   <span>Price:3.70L / Rent:1k</span>
         <span>Description- Zoom Recorders are portable, high-quality audio devices used in filmmaking, podcasting, interviews, and music production...</span>
         </div>
         <div class="rent">
            <a href="/page1#17" class="read-more-btn"><button>Read More</button></a>
        </div>
</div>
<div class="card">
  <div class="img-card"><img src="/img_data/jib1.jpg" height="160px" width="230px"></div> 
  <div class="card-text">
      <span class="title">Jimi Jib</span>
   <span>Price:8.30L / Rent:15k</span>
         <span>Description- A Jib is a camera crane used in filmmaking to achieve smooth, dynamic shots such as... </span>
         </div>
         <div class="rent">
            <a href="/page1#18" class="read-more-btn"><button>Read More</button></a>
        </div>
</div>
<div class="card">
  <div class="img-card"><img src="/img_data/ronin_m21.jpg" height="160px" width="230px"></div> 
  <div class="card-text">
      <span class="title">Ronin M2</span>
   <span>Price:8.70L / Rent:9k</span>
         <span>Description- The DJI Ronin M2 is a compact 3-axis gimbal stabilizer designed for filmmakers and content creators... </span>
         </div>
         <div class="rent">
            <a href="/page1#19" class="read-more-btn"><button>Read More</button></a>
        </div>
</div>
<div class="card">
  <div class="img-card"><img src="/img_data/ronin_r22.jpg" height="160px" width="230px"></div> 
  <div class="card-text">
      <span class="title">Ronin R2</span>
   <span>Price:12.60L / Rent:12k</span>
         <span>Description- The DJI Ronin 2 is a professional 3-axis gimbal designed for high-end filmmaking, supporting heavy rigs like... </span>
         </div>
         <div class="rent">
            <a href="/page1#20" class="read-more-btn"><button>Read More</button></a>
        </div>
</div>
        </div>
    </div>
    <!-- combo -->
    <div class="main-camera">
        <div class="heading"><span id="cmb">Combos</span></div>
        <div class="cards-combo">
            <div class="card">
              <div class="img-card"><img src="/img_data/Sony_A7SmII.jpeg" height="160px" width="230px"></div> 
              <div class="card-text">
                  <span class="title">Sony A7s MII with G series Lens 16-35mm</span>
               <span>Price:3.90L / Rent:5.5k</span>
                     <span>Description- The Sony A7S II with the Sony 16-35mm f/4 G Lens is a top choice for filmmakers, travel... </span>
                     </div>
                     <div class="rent">
                        <a href="/page1#21" class="read-more-btn"><button>Read More</button></a>
                    </div>
         </div>
         <div class="card">
          <div class="img-card"><img src="/img_data/Sony_A7SmII.jpeg" height="160px" width="230px"></div> 
          <div class="card-text">
              <span class="title">Sony A7s MII with G series Lens 28-80mm</span>
           <span>Price:4.10L / Rent:6.5k</span>
                 <span>Description- The Sony A7S II paired with the Sony 28-80mm G Lens offers excellent low-light performance, 4K video... </span>
                 </div>
                 <div class="rent">
                    <a href="/page1#22" class="read-more-btn"><button>Read More</button></a>
                </div>
     </div>
     <div class="card">
      <div class="img-card"><img src="/img_data/Sony_A7SmII.jpeg" height="160px" width="230px"></div> 
      <div class="card-text">
          <span class="title">Camera Sony A7s MII with G series 100-400mm</span>
       <span>Price:4.90L / Rent:9.5k</span>
             <span>Description- The Sony A7S II, known for its exceptional low-light performance, 4K video recording, and 5-axis in-body stabilization... </span>
             </div>
             <div class="rent">
                <a href="/page1#24" class="read-more-btn"><button>Read More</button></a>
            </div>
 </div>
        </div>
    </div>

<!-- big cards -->
  <% results.forEach(item => { %>
<div id=<%= item.product_id %> class="big-card">
 
  <div class="big-card-content">
    <a href="#cme" class="close-btn">&times;</a>
    <img src="/img_data/<%= item.imgurl %>" alt="Product Image">
    
    <div><%= item.product_name %></div>
    <p><%= item.description %></p>

    <p>Key Features:</p>
    <ul>
      <% item.features.forEach(feature => { %>
        <li><%= feature %></li><br>
      <% }); %>
    </ul>
     <form action="/addtocart" method="post">
      <input type="hidden" name="id" value="<%= item.product_id %>">
      <input type="hidden" name="name" value="<%= item.product_name %>">
      <input type="hidden" name="rent" value="<%= item.Rent_price %>">
      <input type="hidden" name="quantity" value="1">
      <input type="hidden" name="days" value="1">
      <input class="rentt" type="submit" value="Add to Cart">
     </form>
  </div>
 
</div>
 <% }); %>

  

    <div class="foot">
        <footer>
            <div class="links">
                <div class="lik">Links</div>
                 <p class="pg"><a  href="/">Home</a></p>
                 <p class="pg"><a  href="/category">Category</a></p>
                 <p class="pg"><a  href="/about">About Us</a></p>
                </div>
            
          <div class="social">
            <div class="lik">Socials</div>
            <div class="phone">
                <img src="/img_data/email.webp" height="40px" width="=40px">
                <div class="email"><p>cinematicvision2525@gmail.com</p>
            <p>dkumar14771@gmail.com</p></div>
            </div>
           <div class="phone">
            <img src="/img_data/phone1.png" height="40px" width="40px">
             <p>+919511199155</p>
           </div>
          </div>
          <div class="social">
                <div class="lik">Location</div>
                <div class="location">
                    <div class="locat1">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d17126.913929335777!2d73.99864713462479!3d17.681622252099807!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc239004429a4a3%3A0x686f23dc611e6b57!2sAnand%20row%20house!5e0!3m2!1sen!2sin!4v1737271613339!5m2!1sen!2sin" width="250" height="150"  loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
                <p>Anand Housing Society, Sahunagar Satara</p>
                    </div>
    <div class="locat1">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1324.0041106252613!2d72.83622988428762!3d19.15895065398377!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b645aa81d151%3A0xd6b8909b8313bdf8!2s229%2C%20Rd%20Number%205%2C%20Prarthana%20Society%2C%20Motilal%20Nagar%20I%2C%20Goregaon%20West%2C%20Mumbai%2C%20Maharashtra%20400104!5e0!3m2!1sen!2sin!4v1737272358339!5m2!1sen!2sin" width="250" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <p>229/1826, road no 5, motilal nagar, goregaon west , mumbai 400104</p>
    </div>
                
                </div>
                
          </div>
          
        </footer>
        </div>
</body>
</html>